@using Models
@model IList<Basket>
@{
    ViewData["Title"] = "Catalog Page";
}
<body class="back">
    <div class="text-center">
        <h1>Содержимое вашей корзины: </h1>
        <h2>Каталог устройств:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер группы</th>
                    <th>Тип устройства</th>
                    <th>Название</th>
                    <th>Производитель</th>
                    <th>Цена устройства</th>
                    <th>Кол-во товаров</th>
                    <th>Общая стоимость группы</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var groups = item.SummUpProducts!;
                    @foreach(var group in groups)
                    {
                        var i = 0;
                        <tr>
                            <td>@Html.DisplayName($"{++i}")</td>
                            <td>@Html.DisplayFor(x => group.Product!.DeviceType!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Producer!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Cost)</td>
                            <td>@Html.DisplayFor(x => group.Quantity)</td>
                            <td>@Html.DisplayFor(x => group.TotalPrice)</td>
                            <td class="link">@Html.ActionLink("Подробнее", "Details", new {Id = group.Product!.Id})</td>
                            <td class="link">
                                @Html.ActionLink(
                        "Удалить единицу товара из корзины",
                        "RemoveProductFromBasket",
                        "Basket",
                        new SummUpProduct
                        {
                        Id = 1,
                        Product = group.Product,
                        Quantity = group.Quantity - 1
                        })
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>Итого:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>@Html.DisplayFor(x => item.TotalCost)</th>
                    </tr>
                }
            </tbody>
        </table>
        <h2>@Html.ActionLink("Очистить корзину", "CleanBasket", "Basket")</h2>
        <br />
        <h2>@Html.ActionLink("Создать заказ", "CreateOrder", "Order")<</h2>
    </div>
</body>