@using Models
@model (Basket, User)
@{
    ViewData["Title"] = "Catalog Page";
}
<body class="back">
    <div class="text-center">
    @{var item = Model.Item1; }
    @{var groups = item.SummUpProducts!;}
    @if (groups == null)
    {
        <div>
            <h4>
                Корзина пуста
            </h4>
            <br>
            <input type="button" value="Назад на главную" 
                   onclick="location.href='@Url.Action("Index", "Home")'" />
        </div>
    }
    @if (groups != null)
        {
        @if (groups!.Count > 0)
        {
        <h4>Содержимое вашей корзины: </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер группы</th>
                    <th>Тип устройства</th>
                    <th>Название</th>
                    <th>Производитель</th>
                    <th>Цена устройства</th>
                    <th>Кол-во товаров</th>
                    <th>Общая стоимость группы</th>
                </tr>
            </thead>
            <tbody>
                @{var i = 0;}
                    @foreach(var group in groups)
                    {
                        <tr>
                            <td>@Html.DisplayName($"{++i}")</td>
                            <td>@Html.DisplayFor(x => group.Product!.DeviceType!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Producer!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Cost)</td>
                            <td>@Html.DisplayFor(x => group.Quantity)</td>
                            <td>@Html.DisplayFor(x => group.TotalPrice)</td>
                            <td class="link">                    
                                <input type="button" value="Подробнее" 
                                    onclick="location.href='@Url.Action("Details", "Home", new {id = group.Product!.Id})'" />
                                </td>
                            <td class="link">
                             <input type="button" value="+" 
                                onclick="location.href='@Url.Action("AddProductToBasket", "Basket", new {id = group.Product!.Id, count = 2})'" />   
                            </td>
                            <td class="link">
                            <input type="button" value="-" 
                                onclick="location.href='@Url.Action("AddProductToBasket", "Basket", new {id = group.Product!.Id, count = 0})'" />   
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>Итого:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>@Html.DisplayFor(x => item.TotalCost)</th>
                    </tr>
            </tbody>
        </table>
        <h5>
            <input type="button" value="Очистить корзину" 
                  onclick="location.href='@Url.Action("CleanBasket", "Basket")'" />
            </h5>
        <br />
        <h5>
            <input type="button" value="Создать заказ" 
                  onclick="location.href='@Url.Action("CreateOrder", "Order")'" />
        </h5>
        <h5>
            <input type="button" value="На главную" 
                onclick="location.href='@Url.Action("Index", "Home")'" />
        </h5>
        }            
    }

    </div>
</body>