@using Models
@model (Order, User)
@{
    ViewData["Title"] = "Catalog Page";
}
<body class="back">
    <div class="text-center">
        <h3>Страница просмотра созданного заказа: </h3>
        <br/>
    @{var groups = Model.Item1.SummUpProducts!;}
    @if (groups != null)
        {
        <h4>Содержимое вашего заказа: </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер группы</th>
                    <th>Тип устройства</th>
                    <th>Название</th>
                    <th>Производитель</th>
                    <th>Цена устройства</th>
                    <th>Кол-во товаров</th>
                    <th>Общая стоимость группы</th>
                </tr>
            </thead>
            <tbody>

                    @foreach(var group in groups)
                    {
                        var i = 0;
                        <tr>
                            <td>@Html.DisplayName($"{++i}")</td>
                            <td>@Html.DisplayFor(x => group.Product!.DeviceType!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Producer!.Name)</td>
                            <td>@Html.DisplayFor(x => group.Product!.Cost)</td>
                            <td>@Html.DisplayFor(x => group.Quantity)</td>
                            <td>@Html.DisplayFor(x => group.TotalPrice)</td>
                        </tr>
                    }
                    <tr>
                        <th>Итого:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>@Html.DisplayFor(x => Model.Item1.ResultCost)</th>
                    </tr>
            </tbody>
        </table>
        }
        <br />
        <table>
            <tr>
                <th>
            <input type="button" value="Подтвердить заказ" 
                  onclick="location.href='@Url.Action("ConfirmOrder", "Order", new {userId = Model.Item2.Id})'" />
                </th>
                <th>
            <input type="button" value="Отменить заказ" 
                  onclick="location.href='@Url.Action("CancelOrder", "Order", new {userId = Model.Item2.Id })'" />
                </th>
            </tr>
        </table>
    </div>
</body>