@using Models
@model (Product, User)
@{
    ViewData["Title"] = "Details Page";
}

@{
    var item = Model.Item1;
}

<div class="text-center">
    <h1>Электронный магазин компьютерной техники: </h1>
    <h2>Подробная информация об устройстве:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Тип устройства</th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Цена устройства</th>
                @if (item.Size is not null)
                {
                    <th>Размер (дюйм.)</th>
                }
                @if (item.ScreenResolution is not null)
                {
                    <th>Разрешение экрана</th>
                }
                @if (item.CamMp is not null)
                {
                    <th>Камера (мп)</th>                
                }
                @if (item.AccumCapacity is not null)
                {
                    <th>Емкость аккумулятора</th>            
                }
                @if (item.RAM is not null)
                {
                    <th>Объем оперативной памяти</th>            
                }
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Html.DisplayFor(x => item.DeviceType!.Name)</td>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td>@Html.DisplayFor(x => item.Producer!.Name)</td>
                    <td>@Html.DisplayFor(x => item.Cost)</td>
                    @if (item.Size is not null)
                    {
                        <td>@Html.DisplayFor(x => item.Size)</td>
                    }
                    @if (item.ScreenResolution is not null)
                    {
                        <td>@Html.DisplayFor(x => item.ScreenResolution)</td>
                    }
                    @if (item.CamMp is not null)
                    {
                        <td>@Html.DisplayFor(x => item.CamMp)</td>
                    }
                    @if (item.AccumCapacity is not null)
                    {
                        <td>@Html.DisplayFor(x => item.AccumCapacity)</td>
                    }
                    @if (item.RAM is not null)
                    {
                        <td>@Html.DisplayFor(x => item.RAM)</td>
                    }
                </tr>    
        </tbody>
    </table>
    <table>
        <tr>
            @if (Model.Item2.Id == -1)
            {
                <td>
                    `           <input type="button" value="Добавить в корзину"
                                   onclick="location.href='@Url.Action("AddProductToBasket", "Basket",
                                    new
                                    {
                                        userId = Model.Item2.Id,
                                        id = item!.Id,
                                        count = 1,
                                        place = PlaceEnum.OnDetails
                                    })'" />
                </td>
            }
            @if (Model.Item2.Id > 0)
            {
                @if (Model.Item2.Basket!.SummUpProducts.Any(x => x.ProductId == item.Id))
                {
                    <td class="link">
                        <input type="button" value="+"
                       onclick="location.href='@Url.Action("AddProductToBasket", "Basket",
                                    new
                                    {
                                        userId = Model.Item2!.Id,
                                        id = item.Id,
                                        count = item.SummUpProducts!.FirstOrDefault(x => x.ProductId == item.Id)!.Quantity + 1,
                                        onBasket = false
                                    })'" />
                        <input type="button" value="-"
                       onclick="location.href='@Url.Action("AddProductToBasket", "Basket",
                                    new
                                    {
                                        userId = Model.Item2.Id,
                                        id = item.Id,
                                        count = item.SummUpProducts!.FirstOrDefault(x => x.ProductId == item!.Id)!.Quantity - 1,
                                        place = PlaceEnum.OnIndex
                                    })'" />
                    </td>
                }
                @if (!Model.Item2.Basket!.SummUpProducts.Any(x => x.ProductId == item.Id))
                {
                    <td class="link">
                        <input type="button" value="Добавить в корзину"
                       onclick="location.href='@Url.Action("AddProductToBasket", "Basket",
                                    new
                                    {
                                        userId = Model.Item2.Id,
                                        id = item.Id,
                                        count = 1,
                                        place = PlaceEnum.OnIndex
                                    })'" />
                    </td>
                }
            }
        </tr>
        <tr>
            <h4>
                @if (Model.Item2.Id == -1)
                {
                    <input type="button" value="Назад на главную"
                       onclick="location.href='@Url.Action("Index", "Home")'" />
                }
                @if (Model.Item2.Id > 0)
                {
                    <input type="button" value="Назад на главную"
                       onclick="location.href='@Url.Action("AuthIndex", "Home", new {id = Model.Item2.Id})'" />
                }
            </h4>
        </tr>
    </table>
</div>