@model IList<Device>
@{
    ViewData["Title"] = "Catalog Page";
}
<body class="back">
    <div class="text-center">
    <h1>Электронный магазин компьютерной техники: </h1>
    <h2>Каталог устройств:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Тип устройства</th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Цена устройства</th>
                <th>Размер (дюйм.)</th>
                <th>Разрешение экрана</th>
                <th>Камера (мп)</th>
                <th>Емкость аккумулятора</th>
                <th>Объем оперативной памяти</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.DeviceType!.Name)</td>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td>@Html.DisplayFor(x => item.Producer!.Name)</td>
                    <td>@Html.DisplayFor(x => item.Cost)</td>
                    <td>@Html.DisplayFor(x => item.Size)</td>
                    <td>@Html.DisplayFor(x => item.ScreenResolution)</td>
                    <td>@Html.DisplayFor(x => item.CamMp)</td>
                    <td>@Html.DisplayFor(x => item.AccumCapacity)</td>
                    <td>@Html.DisplayFor(x => item.RAM)</td>
                    <td class="link">@Html.ActionLink("Подробнее", "Details", new {Id = item.Id})</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (User.Identity!.IsAuthenticated)
{
    <div class="text-lg-start">
        <h5>@Html.ActionLink("Добавить новое устройство", "Create")</h5>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-dark display-6" asp-area="" 
                    asp-controller="Account" 
                    asp-action="Logout">Logout</a>
            </li>
       </ul>
    </div>    
}

</body>


