@using Models
@model (List<Product>, User, Product)
@{
    ViewData["Title"] = "Catalog Page";
}

        @{
            var list = Model.Item1;
            var user = Model.Item2;
            var product = Model.Item3;
        }

<body class="back">
    <div class="text-center">
        <div class="text-md-end">
        @if (user!.Role!.RoleType == RoleType.NonAuthUser)
        {
            <h6>Вы новый пользователь</h6>
        }
        @if (user!.Role!.RoleType == RoleType.AuthUser)
        {
            <h6>Вы выполнили вход под своей обычной учётной записью</h6>
            <h6>@Html.DisplayFor(x => user.NickName)</h6>
        }
        @if (user.Role.RoleType == RoleType.Admin)
        {
            <h6>Вы выполнили вход под учётной записью администратора</h6>
            <h6>@Html.DisplayFor(x => user.NickName)</h6>
        }
        @if (user.Role.RoleType == RoleType.Manager)
        {
            <h6>Вы выполнили вход под учётной записью менеджера</h6>
            <h6>@Html.DisplayFor(x => user.NickName)</h6>
        }
        </div>
        <br />

    <h1>Электронный магазин компьютерной техники: </h1>
        <div class="text-lg-start">
            <table align="right">
                <thead>
                    <tr>
                        <th align="right">
                            <h4>
                                 <input type="button" value="Открыть корзину" 
                                         onclick="location.href='@Url.Action("GetBasket", "Basket", new {userId = user.Id})'" />
                            </h4>
                        </th>
                        <th align="right">
                            <h4>
                                <input type="button" value="Авторизация" 
                                        onclick="location.href='@Url.Action("Login", "Account")'" />
                            </h4>
                        </th>
                        <th align="right">
                            <h4>
                                @if (user.Role!.RoleType != RoleType.AuthUser)
                                {
                                    <input type="button" value="Выйти из аккаунта" 
                                        onclick="location.href='@Url.Action("Logout", "Account")'" />
                                }
                            </h4>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

        <br/>

        <h2>Фильтрация страницы: </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>                    
                        <input type="button" value="По типу устройства" 
                            onclick="location.href='@Url.Action("GetProductsByDeviceType", "Home", new {id = user.Id, deviceTypeId = 1})'" />
                    </th>
                    <th>                    
                        <input type="button" value="По производителю" 
                            onclick="location.href='@Url.Action("GetProductsByProducer", "Home", new {id = user.Id, producerId = 1})'" />     
                    </th>
                    <th>                    
                        <input type="button" value="По наличию" 
                            onclick="location.href='@Url.Action("GetProductsOnExistense", "Home", new {id = user.Id})'" />
                    </th>
                    <th>                    
                        <input type="button" value="По оценке (выше)" 
                            onclick="location.href='@Url.Action("GetProductsByMark", "Home", new {id = user.Id, rating = 4})'" />     
                    </th>
                    <th>                    
                        <input type="button" value="По цене (ниже)" 
                            onclick="location.href='@Url.Action("GetProductsByCost", "Home", new {id = user.Id, cost = 20000})'" /> 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>               
                        <input type="number" name="deviceTypeId" value="@product.DeviceType!.Id" class="form-control"/>
                    </td>
                    <td>
                        <input type="number" name="producerId" value="@product.Producer!.Id" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" name="existense" value="@product.Name" class="form-control"/>
                    </td>
                    <td>
                        <input type="number" name="rating" value="@product.RAM" class="form-control"/>
                    </td>
                    <td>
                        <input type="number" name="cost" value="@product.Cost" class="form-control"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <br/>

        <h2>Каталог страницы: </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Тип устройства</th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Цена устройства</th>
                <th>Информация о товаре</th>
                <th>В корзину</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in list)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.DeviceType!.Name)</td>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td>@Html.DisplayFor(x => item.Producer!.Name)</td>
                    <td>@Html.DisplayFor(x => item.Cost)</td>
                    <td class="link">                   
                    <input type="button" value="Подробнее" 
                        onclick="location.href='@Url.Action("Details", "Home", new {id = item.Id})'" />          
                   </td>
                    <td class="link">
                    <input type="button" value="Добавить в корзину" 
                        onclick="location.href='@Url.Action("AddProductToBasket", "Basket", new {userId = user!.Id, id = item.Id, count = 1})'" />   
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    @if (user.Role.RoleType == RoleType.Admin)
    {
    <div class="text-lg-start">
    <input type="button" value="Страница пользователей с заказами" size="100"
        onclick="location.href='@Url.Action("AdminPageShow", "Home")'" />      
    </div>    
    }

    @if (user.Role.RoleType == RoleType.Manager)
    {
    <div class="text-lg-start">
    <input type="button" value="Страница заказа доставок со складов" size="100"
        onclick="location.href='@Url.Action("ManagerPageShow", "Home")'" />      
    </div>    
    }

</body>


