@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShopService.Views.Account.RegisterModel
@{ 
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<h2>Страница регистрации</h2>    
<hr />    
<div class="row">
    <div class="cold-md-4">
        <form action="@Url.Action("RegisterPost", "Account")" method="get" asp-antiforgery="true">
            <h4>Создать новый аккаунт:</h4>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" name="email" value="@Model.Email" class="form-control"/>
                <span asp-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NickName"></label>
                <input type="text" name="nickName" value="@Model.NickName" class="form-control"/>
                <span asp-for="NickName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactNumber"></label>
                <input type="text" name="contactNumber" value="@Model.ContactNumber" class="form-control"/>
                <span asp-for="ContactNumber" class="text-danger"></span>

            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Role"></label>
                        <br />
                        <input type="radio" asp-for="Role" name="Role" value="@Model.Role"/>User<br /> 
                        <input type="radio" asp-for="Role" name="Role" value="@Model.Role" />Manager<br /> 
                        <input type="radio" asp-for="Role" name="Role" value="@Model.Role" />Administrator<br />
                        <span asp-for="Role" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="text" name="password" value="@Model.Password" class="form-control"/>
                <span asp-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="text" name="confirmPassword" value="@Model.ConfirmPassword" class="form-control"/>
                <span asp-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>    